body {
  font-family: Arial;
  background: #f4f4f4;
}
.container{
    margin: auto;
    width: 380px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
input{
    width: 100%;
   padding: 8px;
   margin: 6px;
}
button{
    padding: 10px;
    width: 100%;
    background-color: orange;
    border: none;
    color: white;
    font-size: large;
    justify-content: space-evenly;
}

.aadhar_card{
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.header {
    display: flex;
 
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-bottom: 2px solid orange;
    padding: 8px;
    background-color: beige;
}
.image{
    width: 30px;
}
.gov_text {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

/* Card Body */
.card_body {
  display: flex;
  padding: 15px;
  gap: 15px;
}
.photo {
  width: 90px;
  height: 110px;
  border: 1px solid #999;
  object-fit: cover;
}
.footer{
   
   border-top:orange 3px solid;
    text-align: center;
    padding: 10px;
}
