body{
    background-color:  #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    height: 100vh;
}
.calculator{
    width: 295px;
    background-color:#FFFFFF ;
    border: 1px solid black;
    padding: 20px;
    
}
#display{

margin-left: 10px; 
    width : 80%;
    padding: 15px;
    
}
button{
height: 50px;
width: 50px;
margin: 10px;
padding: 10px;
border-radius: 5px;
}
button:hover{
   background-color: beige;
}
.special{
    background-color: orange;
}